# Database
DATABASE_URL="mysql://root:password@localhost:3306/streaming_platform"

# Auth
JWT_SECRET="supersecretjwtkey"
JWT_EXPIRATION="7d"

# Bunny.net
BUNNY_API_KEY=""
BUNNY_STORAGE_ZONE=""
BUNNY_STREAM_LIBRARY_ID=""
BUNNY_TOKEN_SECURITY_KEY=""

# Resend
RESEND_API_KEY=""

# Midtrans
MIDTRANS_SERVER_KEY=""
MIDTRANS_CLIENT_KEY=""
MIDTRANS_IS_PRODUCTION="false"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3001"
