# Database
DATABASE_URL="postgresql://username:password@localhost:5432/lalakon_db"

# JWT
JWT_SECRET="lalakon-super-secret-key-ganti-nanti-di-production"

# App
PORT=3001
FRONTEND_URL="http://localhost:3000"

# Resend (email)
RESEND_API_KEY="your_resend_api_key"
RESEND_FROM_EMAIL="Lalakon <onboarding@resend.dev>"

# Super Admin (seeder)
ADMIN_EMAIL="admin@lalakon.id"
ADMIN_PASSWORD="admin12345"

# Bunny Storage & CDN
BUNNY_STORAGE_API_KEY="isi_dengan_api_key_storage"
BUNNY_STORAGE_ZONE="lalakon-assets"
BUNNY_STORAGE_HOSTNAME="sg.storage.bunnycdn.com"
BUNNY_CDN_URL="https://lalakon-cdn.b-cdn.net"

# Bunny Stream
BUNNY_STREAM_API_KEY="your_bunny_stream_api_key"
BUNNY_STREAM_LIBRARY_ID="your_bunny_stream_library_id"
BUNNY_STREAM_TOKEN_KEY="your_bunny_stream_token_key"

# Google OAuth
GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_CALLBACK_URL="http://localhost:3001/auth/google/callback"
